.form {
  max-width: 500px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.formTitle {
  display: block;
  margin-bottom: 20px;
}

.formInput {
  margin-top: 10px;
  display: block;
}

.addToContact {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.addToContact:focus,
.addToContact:hover {
  outline: none;
}

.addToContact:active {
  background-color: rgb(0, 149, 255);
}
